* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  --primary-color: orange;
  --background-color: #1e1e1e;
}

body {
  background-color: #111;
  color: white;
}

header {
  background-color: var(--background-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: bold;
}

header .logo:hover {
  color: aqua;
  cursor: pointer;
}

header nav ul {
  list-style-type: none;
  display: flex;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: var(--primary-color);
}

footer {
  background-color: var(--background-color);
  padding: 10px;
  text-align: center;
  color: white;
  margin-top: 20px;
}
